<div class="loginPage">
	<div class="container-fluid">
		<div class="row">
			<div
				class="col-12 col-sm-12 col-md-8 m-md-auto col-lg-6 m-lg-auto col-xl-6 m-xl-auto">
				<div class="row pushDown">
					<div class="col-sm-6 col-md-6 col-lg-6 col-xl-6 loginBanner">
						<!-- <p>Fibi Research Administration goes live at Sidra Medical and
							Research center, Doha</p> -->
							<p>Cradle to grave ERA solution</p>
					</div>
					<div
						class="col-8 m-auto col-sm-8 m-sm-auto col-md-6 m-md-auto col-lg-6 m-lg-auto col-xl-6 m-xl-auto loginArea">
						<ul>
							<li><h3>Fibi Login</h3></li>
							<li><input #input type="text" placeholder="Username"
								id="login_username" name='username' value=''
								[(ngModel)]="credentials.username" (keyup.enter)="login()" /></li>
							<li><input type="password" placeholder="Password"
								id="login_password" name='password' value=''
								[(ngModel)]="credentials.password" (keyup.enter)="login()" /></li>
							<li><button class="btnSkin btnSkinPrimary" value="Login"
									id="LOGIN-BTN" (click)="login()">Login</button></li>
							<li id="login-failure" *ngIf="loginFail"><p>Login
									Error</p></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
