@CHARSET "ISO-8859-1";
ul.sb-results-dropdown-menu {
    margin: 0;
    padding: 0;
    max-height: 400px;
    overflow-y: scroll;
    background: white;
    border-left: 1px #26A69A solid;
    border-right: 1px #26A69A solid;
    border-radius: 10px;
}

ul.sb-results-dropdown-menu > li {
    position: relative;
    border-bottom: 1px dotted #ccc;
    height: 47px;
    padding: 10px;
    list-style: none;
    color: #26A69A;
}
ul.sb-results-dropdown-menu > li:hover {
	 background: #e0eaff;
	 color: #26A69A;
}

ul.sb-results-dropdown-menu > li span {
    line-height:27px;
    padding-left:5px;
    cursor:pointer;
    white-space: nowrap;
    display: block;
    font-size: 0.8em;
}

ul.sb-results-dropdown-menu > li:last-child {
    border-bottom: 0;
}

.sb-seachresults {
    position: absolute;
    top: 32px;
    z-index: 5;
    width: 100%;
    border-radius: 3px;
    box-shadow: 3px 3px 3px 0 rgba(0, 0, 0, 0.18);
}

.sb-message{
    position: absolute;
    top: 46px;
    background: #f7f7f7;
    height: 20px;
    width:100%;
    box-shadow: #eaeaea 1px 1px;
}

.sb-message span {
    color: dimgrey;
    text-align: right;
    line-height: 10px;
    padding: 5px;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    display: block;
}

/* Modal Content/Box */
.modal-content-pop {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 30%; /* Could be more or less, depending on screen size */
    font-size: .9em
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.demo-class {
	cursor: pointer;
}

.demo-class:hover {
	color: #26A69A !important;
}

#pichart_award{
	cursor:pointer;
}

#pichart_divEvolution{
	cursor:pointer;
}

.forSkipSchedule {
	font-size: 0.8em;
	padding: 0 1em;
}

.forSkipSchedule li {
	color: #444444;
	text-align: center;
	margin: 1rem auto;
}

.sp-color {
	color: #00bcd4 !important;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}

/* style for minutes*/
.fallback {
	background-color: rgba(0, 0, 0, 0.2);
	z-index: 900;
	overflow-y: auto;
}

.forEntityType {
	width: 60% !important;
	margin-left: 10px !important;
	font-size: 0.85em;
}

.forTextAreaEntry {
	/* color: #5F5F5F !important; */
	height: auto !important;
}

.searchBtn {
	border: 0;
	background: transparent;
	font-size: 1.2em;
	padding: 0;
	cursor: pointer;
	color: #5e5e5e;
}

.searchBtn:hover {
	color: #17BFBF;
}

#contigencyModal {
	background-color: rgba(0, 0, 0, 0.2);
	z-index: 950;
	overflow-y: scroll;
}

#skippedSchedules {
	background-color: rgba(0, 0, 0, 0.2);
	z-index: 960;
	overflow-y: auto;
}

.member_search {
	padding-left: 10px;
}

.filterElement {
	border-top: none !important;
	border-bottom: 1px solid #e9ecef;
	font-size: 0.8em;
	vertical-align: middle;
}

#filterWarning, .regularFont {
	font-size: 0.85em;
}

#warnNoattachment {
	z-index: 999 !important;
}

.searchMessage {
	font-size: 0.85em;
	color: #424242;
	padding-left: 10px;
}

.font {
	font-size: 0.85em !important;
}

.addTextBtn {
	border: 0;
	background: transparent;
	font-size: 0.85em;
	padding: 0;
	cursor: pointer;
	color: #5e5e5e;
	font-weight: bold;
}

.addTextBtn:hover {
	color: #17BFBF;
}


.tableSkin label {
	color: #616161;
}

.hoverColor:hover {
	color: #17BFBF;
}

.radioElement {
	font-size: 1em !important;
	border: none !important;
}

.radioElement>li {
	padding-bottom: 0px !important;
}

.greenLabel {
	color: #26A69A;
	font-size: 1.1em;
}

.memberSearchBox {
	margin-bottom: 0px;
	font-size: 1rem !important;
}

.noDataExists {
	color: #9E9E9E;
}

.keywordList {
	padding-left: 0px !important;
}

.keywordListItem {
	padding: 5px 5px 5px 0px;
}

.keywordClose:hover {
	color: #26A69A;
}

.dateBox {
	width: 100% !important;
}

.routeLogModalHeader {
	background-color: #00bcd4;
}

.routeLogModalHeader>.modal-title {
	color: #fff;
}

#routelogHeader {
	background-color: #26A69A;
}

#routelogHeader>th {
	color:#fff;
}

.commentBox {
	width: 100%;
	line-height: 30px;
	padding: 0 5px;
	border-radius: 20px;
	opacity: 1 !important;
	border: 1px #DEDEDE solid;
	font-size: 0.85em;
}

#routeLogTable {
	margin-bottom: 0px;
}

#routeLogBody {
	padding-bottom: 0px;
	margin-bottom: 0px;
}

/* style  for reviewer */
.reviewTable {
	margin-bottom: 0px;
	border: 1px solid #E6F8F6;
}
.reviewTable thead th {
	font-size: .95em !important;
}
.reviewTable tr th {
	font-size: .95em !important;
}
.reviewTable tr td {
	font-size: .95em !important;
}
.reviewTable>tbody>tr>td {
	font-size: .95em !important;
}
#reviewHeading, #reviewAssignModalTable, #reviewAssignModalTd {
	border-top : 0px;
	padding-top: 0px;
}
#reviewHeading {
	background-color: #E6F8F6;
}
.collapseExpand {
	color: #bdbdbd;
	background: #FEFEFE;
	border: 5px #FEFEFE solid;
	font-size: 1.1em;
	line-height: normal;
}
.collapseExpand:hover {
	color: #26A69A;
}

.topHeading {
	color: #26A69A;
	font-weight: bold;
	padding-left: 3px;
}

.successWarning {
	background-color: #26A69A;
	color: #fff;
	float: right;
	padding: 5px 10px;
	border-radius: 15px;
}

.topGrid label {
	color: #616161;
	margin-bottom: .2em;
}

/*  */

.topGrid {
	margin-bottom: -14px;
}

.topGrid>.row>div {
	color: #505050;
}

.topGrid>.row:nth-child(odd) div .committeeBoxNotEditable {
	background: #fafafa;
}

.topGrid>.row:nth-child(even) div .committeeBoxNotEditable {
	background: transparent;
}

/* tableSkin */
.borderBox>.tableSkin {
	margin-top: -11px;
}

.gridSkin .heading div {
	color: #26A69A;
	font-size: .85em;
	font-weight: bold;
	padding: 10px;
	border-bottom: 1px #b2dfdb solid;
	border-top: 0;
	vertical-align: middle;
	line-height: normal;
}

.gridSkin .row .heading {
	color: #26A69A;
	font-size: .85em;
	font-weight: bold;
}

.gridSkin>.row>div {
	padding: 10px;
	font-size: .8em;
	border-color: #E9E9E9;
	color: #424242;
	vertical-align: middle;
}

.gridSkin>.row>div>label {
	font-weight: bold;
}

.gridSkin .row {
	padding: 0px 14px;
}

.dateWidth {
	width: 90% !important;
	position: relative;
}

.dateWidth::-webkit-inner-spin-button,
.dateWidth::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
}

.dateField {
	position: relative;
}

.insidePicker {
	position: absolute;
	top: 1px;
	right: 10px;
	bottom: 0;

}

.gridSkin .row div p {
	text-align: justify;
}

.tableBox {/*
	border: 1px #DADAD6 solid; */
}

.colorBlack {
	color: #616161;
	font-weight: normal;
}

.colorBlack label {
	font-weight: bold;
}

.gridSkin>.row:nth-child(odd) div .committeeBoxNotEditable {
	background: #fafafa;
}

.gridSkin>.row:nth-child(even) div .committeeBoxNotEditable {
	background: transparent;
}

.fileChips span {
    display: inline-block;
    background: gainsboro;
    padding: 3px 8px 3px 3px;
    border-radius: 11px;
    margin-right: 5px;
    margin-top: 5px;
}

.fileChips span i {
    display: inline-block;
    margin: -1px -2px 0 3px;
    border-radius: 50%;
    background-color: white;
    padding: 2px;
    color: red;
}

.italian {
	font-style: italic;
}

.attach-desc {
	/* padding: 10px 0px 0px 10px !important; */
}
.routeLogStatus {
	padding: 10px;
	font-weight: bold;
	color: #00bcd4;
}

.resultCard a {
	color: #424242;
}

.resultCard a:hover {
	color: #00bcd4;
}

.topGrid .row .heading {
	color: #26A69A;
	font-size: .85em;
	font-weight: bold;
	padding: 10px;
	border-bottom: 1px #b2dfdb solid;
	border-top: 0;
	line-height: normal;
	text-align: left;
}

.textView {
	text-align: justify;
	margin: 0px;
}

.lowPadd {
	padding-bottom: 1px;
}

.normalPadd {
	padding-bottom: 15px;
}

.noPadd {
	padding: 0px;
}

.noMarginTop {
	margin-top: 0px;
}

.innerBorderBox {
	border: none;
}

.innerBorderBox>h4 {
	background-color: #E6F8F6;
}

#searchElastic {
	margin: 5px 0px;
}

.attachBtn {
	color: #00bcd4;
	cursor: pointer;
}

.attachBtn:hover {
	color: #9e9e9e;
}

.checkClass {
	width: 50%;
	height: 1.2em;
	margin: .75em;
}

.btnPositionFullWidget {
	right: 18px;
}

.completer-dropdown {
    width: 100% !important;
    color: #26A69A !important;
    position: absolute !important;
    top: 35px !important;
    z-index: 5 !important;
    overflow-y: scroll;
    max-height: 200px !important;
    background: white !important;
    border-left: 1px #26A69A solid !important;
    border-right: 1px #26A69A solid !important;
    border-radius: 10px !important;
    box-shadow: 3px 3px 3px 0 rgba(0, 0, 0, 0.18) !important;
}

.completer-holder {
	position: relative !important;
    font-weight: 400;
}

.popupDatePicker {
	position: absolute;
    right: 20px;
    bottom: 18px;
}

.pvrPadding {
	padding: 0 10px !important;
}

.disableInput {
	border: 1px #DEDEDE solid !important;
	border-radius: 50px !important;
}

#reviewCollapse {
	background: transparent;
	border: none;
}
.block-display {
	display: block !important;
}
.status-lineHeight {
	line-height: 30px;
}

#variationDescriptionBox {
	height: 150px !important;
	overflow-y: scroll;
}
#budgetAmount {
    padding: 0px 5px;
}
.paddingAdvSearch {
	padding-top: 5px;
}
.paddingStatus {
	padding-top: 5px;
}

#extensionDate {
	width: 100% !important;
    position: relative;
}

/* for proposal Budget */

.nav-tabs {
    border-bottom: 2px #26A69A solid;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    color: #fff;
    border: 1px #26A69A solid;
    background: #26A69A;
}

.nav-tabs>li.activeTab>a, .nav-tabs>li.activeTab>a:focus, .nav-tabs>li.activeTab>a:hover {
    color: #fff;
    border: 1px #26A69A solid;
    background: #26A69A;
}
.nav-tabs>li.inActiveTab>a, .nav-tabs>li.inActiveTab>a:focus {
    color: #26A69A;
    border: 1px #FAFAFA solid;
    background: #FAFAFA;
    border-bottom-color: #26A69A;
}
.nav-tabs>li.inActiveTab>a:hover {
    background: #eee;
}
.nav-tabs>li>a {
    border-radius: 0;
    padding: 2px 10px;
    color: #26A69A;
    font-size: .9em;
}

.nav-tabs>li>a:hover {
    border-bottom-color: #26A69A;
}
.filter {
	float: right;
}
#auto-calculate {margin: 0 5px 0 2px;}
.addPeriod, .copyPeriod, .generatePeriod {
	display: inline-block;
	margin: 0 5px 0 3px;
	color: #404040;
}
.addPeriod:before, .copyPeriod:before, .generatePeriod:before {font-family: 'FontAwesome';width: 22px;height: 20px;line-height: 22px;text-align: center;background: #26A69A;display: inline-block;border-radius: 50%;color: #fff;font-size: .8em;margin-bottom: 2px; margin-right: 2px;font-weight: normal;}
.copyPeriod:before{content: "\f0c5"}
.addPeriod:before{content: "\f067"}
.generatePeriod:before{content: "\f0f6"}
.tab-content {
    padding-top: 15px;
    padding-bottom: 8px;
    background: #e6f2ee;
    border-bottom: 1px #e2dede solid;
}
.tabContent-dup {background: #e6f2ee;}
.tableStyle{width: 100%;}
.tableStyle>thead {
    background: #26A69A;
    color: #fff;
}
.tableStyle>tbody{}
.tableStyle>thead>tr>th{font-weight: normal; background: #26A69A;
    color: #fff;text-align:center !important;}
.tableStyle>tbody>tr>td{padding: 4px 8px;border: 1px #fafafa solid;}
.tableStyle>tbody>tr:nth-child(even){background: #dfdfdf;}
.tableStyle>tbody>tr:nth-child(odd){background: #efefef}
.tableStyle>tbody>tr>td {font-size: 0.85em;}
.modal-opacity {opacity: inherit !important;}

#ratesTable.tableStyle>thead>tr>th {
	text-align: left !important;
	padding-left: 5px;
	font-size: 0.85em;
}

#ratesTable.tableStyle>tbody>tr>td {
	font-size: 0.85em;
	font-weight: normal !important;
}

#lineItemBudget:disabled {
	background-color: #fff;
	color: #212529;
	cursor: no-drop;
}
.totalText>span {margin-left: 5px; font-weight: bold;}
 table.tableSection {
    display: table;
    width: 100%;
}
table.tableSection thead, table.tableSection tbody {
    float: left;
    width: 100%;
}
table.tableSection tbody {
    overflow: auto;
    height: 300px;
}
table.tableSection tr {
    width: 100%;
    display: table;
    text-align: left;
}
table.tableSection th, table.tableSection td {
    width: 20%;
}
.extrawidth{
    width:calc(100% - 18px) !important;
}
.invalid-FieldBorder {border: 1px solid red !important;}
.delete-period {
	font-weight: normal;
	float: right;
    position: absolute;
    bottom: 0;
    right: 5px;
}
#periodTable > tbody > tr >td {padding: 12px !important;}
.proposalType-tabs {    width: 100%; margin-left: 0px;}
.logo-dimension {width: 100px; height: 37px;}

.personAddBtn {
	border: 0;
	background: transparent;
	font-size: 1.2em;
	padding: 0;
	cursor: pointer;
	color: #5e5e5e;
	outline: none !important;
}
.personType {
	width: 75%;
  line-height: 30px;
  height: 30px;
  padding: 0 5px;
  border-radius: 30px;
  opacity: 1 !important;
  border: 1px #DEDEDE solid;
  font-size: .8em;
  display: inline-block;
}
.budgetMembersearchBox>input[type="text"], .advancedTools input[type="text"] {
	border-radius: 20px;
	border: 1px #DEDEDE solid;
	width: 80%;
	padding-right: 35px;
  line-height: 27px;
  height: 30px;
	font-size: .8em;
	padding-left: 10px;
}
.label-color {
	color: #616161;
	font-size: .8em;
}
.text-left-person {
	width: 100% !important;
}
.inline-block-display {
	display: inline-block;
}
.person-type-input {
	display: inline-block;
  margin-left: 27px;
  width: 81% !important;
}
.person-name-input {
	display: inline-block;
  width: 80% !important;
  margin-left: 22px !important;
}
.addedpersonnel-margin {
	margin-top: 5px;
}
.name-person-searchbox {
	margin-left: 22px !important;
}
.position-person-inpur-box {
	top: 5px;
  position: absolute;
  width: 93% !important;
}
.position-relative {
	position: relative;
}
.icons-align {
	position: absolute;
  top: 5px;
}
.sb-searchperson {
	margin-left: 70px;
  width: 80%;
  text-align: left;
}
.name-searchbox {
	margin-left: 2px;
}
#overviewExpndBtn {
	right: 23px !important;
  top: 0px !important;
}
.lineItem-mandatory {
	border-radius: 30px !important;
  border: 1px solid red !important;
}
.dept-margin {
	margin-left: 10px;
}
#proposalAbstract {
  height: 150px !important;
}


/* styles for questionniare*/
.list > label {
	color: #616161;
	font-weight: bold;
}
.helpCard:hover  .closeResultCard {
	display: block;
	transition: display .25s
}
.helpMsg {
	padding: 10px 10px;
  background-color: #e6f2ee;
  border-radius: 0;
  border-left: 3px solid #26A69A;
  color: #000!important;
  font-size: 13px;
  font-weight: bold;
}
.helpCard {
	padding-right: 8px;
}
.close-help {
  right: 5px!important;
  bottom: 25px;
}
.help-link i {
  font-size: 20px;
  padding-left: 9px;
  color: #FF9800;
  cursor: pointer;
}
.category {
  color: #fff!important;
  margin-bottom: 10px!important;
  font-size: 14px!important;
  font-weight: bold !important;
  background-color: #26A69A;
  padding: 5px;
  width: 100%;
}
.category-margin {
  margin-top: 10px!important;
  margin-bottom: 13px!important;
}
.modal-margin {
	margin: 60px auto!important;
}
/* end of questionnaire*/

.rate-float{
  float: right !important;
}
.action-btn-padding {
  margin-left: 0px; padding-left: 8px;
}
.department-select {
	margin-top: 5px;
	font-size: 13px !important;
	font-family: inherit !important;
}
.department-tabs {
	padding-right: 0px;
}
#reviewerSearchId {
	width: 100%;
}
#reviewer-search-button {
  position: absolute;
  right: 16px;
  top: 13px;
}
#sb-reviewer {
	position: absolute;
  top: 36px;
	width: 93%;
	margin-left: 0px;
}
.reviewbox-headerdata {
	color: #26A69A;
	font-weight: normal;
}
.block-display-span>div>div>span {
	display: block;
}
.height-scroll-lg {
	max-height: 300px;
	overflow-y: scroll;
}
#add-review {
	height: 25px;
}
.height-scroll-sm {
	max-height: 110px;
	overflow-y: scroll;
}
.height-scroll-md {
	max-height: 200px;
	overflow-y: scroll;
}
#routeLogModal {
	overflow-y: hidden !important;
}
.autoSaveMsg {
	color: #26A69A;
	font-weight: 300;
}
.export-btn-padding {
	padding: 10px;
}
#qsnre-complete-msg {
	color:#218838;
}
#qsnre-incomplete-msg {
	color:#f30b0b
}
.fixed-proposalHeader {
	position: fixed;
	background: #fff;
	width: 100%;
	z-index: 2;
	top: 48px;
  }
  .content-top {
	margin-top: 120px;
  }
  .back-button {
	right: 90px;
  }
  .margin-IP {
	margin-right: 95px;
  }
